@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,*::after,*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(213, 19%, 18%);
    --darkBlue: #1c232d;
    --veryDarkBlue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
}
*::selection {
    color: var(--white);
    background-color: transparent;
}
.card p::selection {
    color: var(--lightGrey);
}
.card .rates div span::selection {
    color: var(--lightGrey);
}
html {
    font-size: 15px;
}
body {
    font-family: 'Overpass', sans-serif;
    display: grid;
    grid-template-areas: 'card' 'attribute';
    grid-template-rows: 80% 1fr;
    grid-template-columns: 100%;
    row-gap: 5%;
    place-content: center;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--veryDarkBlue);
    color: hsl(0, 0%, 100%);
    overflow-x: hidden;
}
.card,.thank {
    grid-area: card;
    justify-self: center;
    background-color: var(--darkBlue);
    display: flex;
    flex-direction: column;
}
.card .star {
    background-color: var(--mediumGrey);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.card > p, .thank > p {
    color: var(--lightGrey);
}
.rates {
    display: flex;
    color: var(--lightGrey);
    align-items: center;
}
.rates div {
    background-color: var(--mediumGrey);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
}
.rates div:hover {
    background-color: var(--orange);
    color: var(--white);
}
.submit {
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: var(--white);
    font-family: 'overpass', sans-serif;
    font-size: inherit;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
    letter-spacing: 1px;
}
.submit:hover {
    background-color: var(--white);
    color: var(--orange);
}
.thank {
    position: relative;
    z-index: 1;
    display: none;
}
.thank > p {
    text-align: center;
}
.attribution {
    grid-area: attribute;
}
@media (max-width: 280px) {
    .rates div {
        width: 35px !important;
        height: 35px !important;
    }
}
@media (min-width: 360px), (max-width: 360px) {
    .card,.thank {
        width: 85%;
        height: 65%;
        justify-content: space-evenly;
        padding: 2% 6%;
        border-radius: 4%;
        -webkit-border-radius: 4%;
        -moz-border-radius: 4%;
        -ms-border-radius: 4%;
        -o-border-radius: 4%;
    }
    .card .star {
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .star img {
        width: 40%;
    }
    .card .rates {
        justify-content: space-around;
    }
    .rates div {
        width: 46px;
        height: 46px;
        position: relative;
    }
    .rates div span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-60%, -49%);
        -webkit-transform: translate(-60%, -43%);
        -moz-transform: translate(-60%, -49%);
        -ms-transform: translate(-60%, -49%);
        -o-transform: translate(-60%, -49%);
    }
    .submit {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--orange);
        height: 10%;
    }
    .thank {
        align-items: center;
    }
    .thank img {
        width: 55%;
    }
    .thank .rateNum {
        background-color: var(--mediumGrey);
        height: 10%;
        width: 70%;
        text-align: center;
        position: relative;
        border-radius: 23px;
        -webkit-border-radius: 23px;
        -moz-border-radius: 23px;
        -ms-border-radius: 23px;
        -o-border-radius: 23px;
        color: var(--orange);
    }
    .thank .rateNum > span {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -42%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
}
@media (min-width: 360px) and (max-height: 640px) {
    .card, .thank {
        height: 76%
    }
    .rates div {
        width: 40px;
        height: 40px;
    }
    .submit {
        height: 11%;
    }
}
@media (min-width: 375px) {
    .card,.thank {
        height: 69%;
    }
    .rates div {
        width: 40px;
        height: 40px;
    }
    .rates div span {
        transform: translate(-55%, -43%);
        -webkit-transform: translate(-55%, -43%);
        -moz-transform: translate(-55%, -43%);
        -ms-transform: translate(-55%, -43%);
        -o-transform: translate(-55%, -43%);
    }
    .submit {
        height: 12%;
    }
}
@media (min-width: 390px) {
    html {
        font-size: 17px;
    }
    .card,.thank {
        height: 61%;
    }
    .rates div {
        width: 46px;
        height: 46px;
    }
    .submit {
        height: 11%;
    }
    .attribution {
        font-size: 0.7rem;
    }
}
@media (min-width: 540px) {
    .card,.thank {
        height: 74%;
    }
}
@media (min-width: 768px) {
    html {
        font-size: 26px;
    }
    .card,.thank {
        padding: 0 6%;
    }
    .card .star {
        width: 75px;
        height: 75px
    }
    .rates div {
        width: 70px;
        height: 70px;
    }
}
@media (min-width: 820px) {
    html {
        font-size: 27px;
    }
    .rates div {
        width: 80px;
        height: 80px;
    }
    .submit {
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
    }
}
@media (min-width: 912px) {
    html {
        font-size: 31px;
    }
    .star {
        width: 85px;
        height: 85px;
    }
    .rates div {
        width: 90px;
        height: 90px;
    }
    .submit {
        border-radius: 58px;
        -webkit-border-radius: 58px;
        -moz-border-radius: 58px;
        -ms-border-radius: 58px;
        -o-border-radius: 58px;
    }
}
@media (min-width: 1024px) and (min-height: 600px) {
    html {
        font-size: 15px;
    }
    .card,.thank {
        width: 37%;
        padding: 1% 2%;
    }
    .card .star {
        width: 50px;
        height: 50px;
    }
    .rates div {
        width: 50px;
        height: 50px;
    }
}
@media (min-width: 1024px) and (min-height: 768px) {
    .card,.thank {
        height: 65%;
    }
}
@media (min-width: 1080px) and (min-height: 1920px) {
    .card,.thank {
        width: 64%;
        height: 44%;
    }
    .rates div {
        width: 80px;
        height: 80px;
    }
}
@media (min-width: 1080px) and (min-height: 2560px) {
    .card {
        height: 37%;
    }
}
@media (min-width: 1366px) and (min-height: 768px) {
    html {
        font-size: 19px;
    }
    .card,.thank {
        padding: 0 2%;
        height: 69%;
        width: 39%;
    }
    .card .star {
        width: 55px;
        height: 55px;
    }
    .rates div {
        width: 60px;
        height: 60px;
    }
}
@media (min-width: 1280px) and (min-height: 720px) {
    html {
        font-size: 18px;
    }
    .card,.thank {
        width: 40%;
        height: 74%;
        padding: 0 3%;
    }
    .card .star {
        width: 60px;
        height: 60px;
    }
    .rates div {
        width: 60px;
        height: 60px;
    }
    .submit {
        height: 13%;
    }
}
@media (min-width: 1280px) and (min-height: 1024px) {
    .card,.thank {
        height: 57%;
    }
    .submit {
        height: 11%; 
    }
}
@media (min-width: 1600px) and (min-height: 900px) {
    html {
        font-size: 20px;
    }
    .card {
        width: 27%;
    }
}
@media (min-width: 1920px) and (min-height: 1080px) {
    html {
        font-size: 26px;
    }
    .card,.thank {
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
        height: 75%;
        width: 40%;
    }
    .card .star {
        width: 70px;
        height: 70px;
    }
    .rates div {
        width: 90px;
        height: 90px;
    }
    .submit {
        height: 12%;
        width: 80%;
        align-self: center;
    }
}
@media (min-width: 2560px) and (min-height: 1080px) {
}
